/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
    --offset: 6px;
}

body {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    width: 980px;
    margin: 64px;
    font-size: 100px;
    font-family: "Montserrat";
    line-height: 1.06;
    letter-spacing: -0.02em;
    color: #1d1d1f;
}

h3 {
    font-size: 24px;
    font-family: "Montserrat";
    line-height: 1.06;
    letter-spacing: -0.02em;
    color: black;
}

h2:first-of-type {
    margin-top: 128px;
}

footer {
    margin: 48px;
    margin-bottom: 32px;
}

a {
    font-family: "Montserrat";
    text-decoration: none;
    color: black;
}

a:hover {
    color: #1e86dd;
}

a i {
    font-size: 16px;
    margin-left: 8px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li:not(:last-child) {
    margin-right: 8px;
}

i {
    margin-right: 8px;
}

.mask {
    height: 106px;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
}

.mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    padding-bottom: var(--offset);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}

.mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
}

.mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

/*卡片*/
.card {
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    margin: 32px;
    border-width: 2px;
    border-color: #e0e0e0;
    border-radius: 1rem;
    border-style: solid;
}

.card h3 {
    padding: 0;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.card p {
    padding: 0;
    padding-left: 24px;
    font-size: 20px;
    font-family: "Montserrat";
}

.card p:last-child {
    padding-right: 16px;
    padding-bottom: 8px;
}

.card ul {
    display: inline-block;
    list-style-type: none;
}

.card li {
    padding: 0;
    padding-left: 24px;
    padding-bottom: 24px;
    font-size: 20px;
    font-family: "Montserrat";
    display: inline-block;
}

.card li:last-child {
    padding-right: 24px;
}

.card a:hover {
    color: #1e86dd
}

/*語言提示卡片*/
#notice h3 i:hover {
    color: red;
}

/*劇透遮蓋*/
.spoiler {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}

.spoiler:hover, .spoiler:active {
    color: white !important;
}

.spoiler:hover a {
    color: white;
}

.spoiler:hover a:hover {
    color: lightblue;
}

/*頁尾版權信息*/
footer {
    margin-top: 0px;
}

footer p {
    font-size: 20px;
    font-family: "Montserrat";
}

footer p:last-child {
    margin-left: 16px;
}